@use 'src/styles/vars';

@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2") format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

.comment-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(15, 15, 15, 0.39);
}

.comment-container {

  background-color:vars.$color-popup-background;
  color:black;
  padding:5px;
  width: 200px;
  height: 200px;
  border:none;
  border-radius: 10%;
  border-bottom: 5px solid vars.$color-title-last ;
  border-top: 5px solid vars.$color-title-four ;  
  border-left: 5px solid vars.$color-title-first ;  
  border-right: 5px solid vars.$color-title-last ;  
  right:auto;
  bottom:auto;
  display: flex;
  justify-self: center;  

  .comment-form {

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:20px;

    .comment-title {
      font-family: "Meta";
      font-variation-settings: "wght" 900, "ital" 1;
      color:red;
      padding-bottom:10px;
      margin:2px;
    }

    .comment-textarea {
      border:none;
      color:black;
    }

    .comment-button {
      border:none;
      color: black;
      font-variation-settings: "wght" 900;
      font-family: "Meta";
      background-color: #11ffee00;
      padding-top:10px;
    }
  }
  .popup-button-close {
    transition: all 0.5s ease;
    position: absolute;
    background-color: vars.$color-background;
    padding: 1.5px 7px;
    left: 49.5%;
    margin-left: 30px;
    margin-top: -20px;
    border-radius: 50%;
    border: 2px solid vars.$color-popup-background;
    color: vars.$color-popup-background;
    -webkit-box-shadow: -4px -2px 6px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: -4px -2px 6px 0px rgba(0,0,0,0.1);
    box-shadow: -3px 1px 6px 0px rgba(0,0,0,0.1);
    &:hover {
      background-color: vars.$color-background;
      color: #fff;
    }
}

.win-video-responsive {
background-color: grey;
color:black;
border: 1px solid black;
display: inline-block;
margin:10px;
padding-top:5px;

}
}
