
// MAIN PROJET COLORS

$color-background: #050125;

$color-text-main:white;
$color-text-title:#050125;
$color-text-content:white;

$color-nav-link:yellow;
$color-nav-link-hover:white;

$color-popup-background:rgb(247, 230, 230);
$color-popup-text:yellow;
$color-popup-shadow:black;

$color-button-background:#050125;
$color-button-text:yellow;

// TITLE COLORS

$color-title-contouring:#be1c0a;
$color-title-first:#e01c06;
$color-title-two:#fa9005;
$color-title-three:#f5f127;
$color-title-four:#3ce408;
$color-title-five:#0aeee3;
$color-title-last:#060169;

// TRANSITIONS

$transition-fast: 0.2s;
$transition-slow: 1s;



