@use 'src/styles/vars';

.header-container {
 display:flex;
 flex-direction: column;
  width: 100vw;

  .header-top {
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      
    }
  }
}
