@use 'src/styles/vars';

  @font-face {
    src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
      format("woff2");
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
  }
  .title-container {
    
    .title-title {
      padding-left: 0.8em;
      margin-top: 0.5em;
      transition: all 0.5s;
      -webkit-text-stroke: 2px vars.$color-title-contouring;
      font-variation-settings: "wght" 900, "ital" 1;
      font-size: 5rem;
      text-align: center;
      color: vars.$color-title-first;
      font-family: "Meta", sans-serif;
      text-shadow: 
        10px 10px 0px vars.$color-title-two,
        15px 15px 1px vars.$color-title-three,
        20px 20px 2px vars.$color-title-four,
        25px 25px 5px vars.$color-title-five,
        40px 40px 10px vars.$color-title-last;
        text-transform:uppercase ;
        &:hover {
          font-variation-settings: "wght" 900, "ital" 1;
          text-shadow: none;
        }
        @media screen and (max-width: 768px) {
          font-size: 2rem;
      }
    }
  }
  
  