@use 'src/styles/vars';

@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

.intro-container {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: vars.$color-popup-background;
  box-sizing: border-box;
  width: 40%;
  margin: 1em auto;
  border-bottom: 20px solid vars.$color-title-five ;
  border-right: 10px solid vars.$color-title-two ;  

  .intro-img{
    width: 300px;
    height: 300px;
    margin-top: 1.5em;
  }
  .intro-title {
    font-family: "Meta";
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: vars.$color-text-title;
    font-variation-settings: "wght"900, "ital"1;
    padding-bottom: 10px;
    margin: 2px;
    padding-top:5px;
  }
   .intro-subtitle {
      font-family: "Meta";
      font-variation-settings: "wght" 900, "ital" 1;
      color: vars.$color-text-title;
      padding-bottom:10px;
      margin:2px;
      margin-top:10px;
    }
  .intro-text {
    font-family:'Quicksand', sans-serif; 
    padding-left:50px;
    padding-right:50px;
    margin-bottom:5%;
  }
    .intro-pic {
    max-width: 55%;
    max-height: 55%;
    display:inline-flex;
    }
  .intro-button {

    background-color:#11ffee00 ;
    color: black;
    border:none;
    font-weight: bold;
    padding-top:10px;
    font-size: large;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 1.5em;
    margin-top: 1em;
    &:hover {
      text-decoration: underline;
      color:red;
      cursor:pointer;
    }
}
 }
