@use 'src/styles/vars';

@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

.loose-container {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: vars.$color-popup-background;
  box-sizing: border-box;
   width: 700px;
   height: 700px;
   padding:10px;
   margin:2px;
   border-bottom: 20px solid vars.$color-title-five ;
   border-right: 10px solid vars.$color-title-two ;  
  

  .loose-title {
    font-family: "Meta";
    font-size: 2rem;
    text-align: center;
    color: vars.$color-text-title;
    font-variation-settings: "wght" 900, "ital" 1;
    padding-bottom:10px;
    margin:2px;
  }
   .loose-subtitle {
      font-family: "Meta";
      font-variation-settings: "wght" 900, "ital" 1;
      color: vars.$color-text-title;
      padding-bottom:10px;
      margin:2px;
      margin-top:10px;
    }
  .loose-text {
    font-family:'Quicksand', sans-serif; 
    padding-left:50px;
    padding-right:50px;
    margin:2px;
  }

  .loose-pic {
    max-width: 70%;
    max-height: 70%;
    left:30%;
    display:inline-flex;
  }

  }
  .loose-button {
    background-color:#11ffee00 ;
    color: black;
    border:none;
    font-weight: bold;
    padding-top:10px;
    font-size: large;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    &:hover {
      text-decoration: underline;
      color:red;
      cursor:pointer;
    }
}
